html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-size: 1rem;
}

header {
    font-weight: bold;
    font-size: 1.6rem;
}

.main-section {
    margin: 2.5em 0 2.5em 0;
}

.sub-section {
    margin: 0;
    padding: 0.5em;
}

.code-block {
    width: 98%;
    background-color: rgba(222, 213, 217, 0.884);
    margin-inline: auto;
    padding: 0.5em 0em 0.5em 1em;
    overflow: hidden;
}

.divider {
    width: 98%;
    height: 2px;
    background-color: rgba(222, 213, 217, 0.884);
    margin: 0.5em auto 0.5em auto;
}

.bold {
    font-weight: bold;
}