* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html {
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    margin: 0;
    font-size: 1.2rem;
    background-color: #f3f5f9;
}

.wrapper {
    display: flex;
    position: relative;
}

header {
    padding-top: 0.5em;
    font-weight: bold;
    font-size: 2rem;
}

#main-doc {
    width: 100%;
    margin-left: 300px;
}

.main-section {
    margin: 1.5em auto 2em auto;
    padding: 0.5em 1em 0.5em 1em;
    width: 98%;
}

.sub-section {
    margin: 0;
    padding: 0 0.5em;
}

.code-block {
    width: 98%;
    border-left: 0.7rem solid black;
    border-radius: 10px;
    background-color: rgba(222, 213, 217, 0.884);
    margin-inline: auto;
    padding: 0.5em 0em 0.5em 1em;
    overflow: hidden;
}

.divider {
    width: 98%;
    height: 2px;
    background-color: rgba(222, 213, 217, 0.884);
    margin: 1em auto 1em auto;
}

.bold {
    font-weight: bold;
}

.sub-heading {
    font-family: -apple-system-subheadline;
    margin: 0;
}

#navbar {
    width: 300px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top : 0;
    left: 0;
    overflow-x: hidden;
    border-right: 5px solid black;
}

#navbar header, #navbar>ul>li:not(:last-of-type) {
    border-bottom: 2px solid black;
}

#navbar header {
    padding: 1.75rem 0 1.75rem 1rem;
    background-color: rgba(25, 24, 25, 0.05);
    color: #030509;
}

#navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#navbar>ul>li {
    padding: 1.5rem 0 1.5rem 1rem;
}

#navbar ul li a{
    color: black;
    display: block;
    width: max-content;
    padding: 5px;
    text-decoration: none;
}

#navbar ul li a:hover{
    background-color: #000000;
    color: #ffffff;
}

#navbar ul li:hover{
    background: rgba(25, 24, 25, 0.05);
}
